.navbar {
  font-size: 1.2rem;
  height: var(--header-height);
  transition: all 0.2s;
  padding: 0 5rem;
}

.header-wrapper {
  min-width: 25%;
  min-height: 40px;
  position: relative;
  margin: 0 auto;
}

.header-flex {
  width: 50px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: width 1s ease-out;
  display: flex;

  &:hover {
    width: 100%;
  }
}

i {
  z-index: 199;
}

@mixin item-flex {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  cursor: pointer;
}

.item-flex-1 {
  @include item-flex();
}

.item-flex-2 {
  opacity: 0;
  transition: right 0.2s, left 0.2s, opacity 0.2s;
  @include item-flex();
}

.item-flex-3 {
  opacity: 0;
  transition: right 0.2s, left 0.2s, opacity 0.2s;
  @include item-flex();
}

.item-flex-4 {
  opacity: 0;
  transition: right 0.2s, left 0.2s, opacity 0.2s;
  color: white;
  @include item-flex();
}

.item-flex-5 {
  opacity: 0;
  transition: right 0.2s, left 0.2s, opacity 0.2s;
  @include item-flex();
}

.bg-hd {
  background: red;
}

.item-b-collapse {
  right: 95%;
  left: -5%;
  opacity: 1;
}

.item-c-collapse {
  left: 90%;
  opacity: 1;
}

.item-d-collapse {
  right: 50%;
  opacity: 1;
}

.item-e-collapse {
  left: 50%;
  opacity: 1;
}