<nav class="navbar" id="header">
    <div class="header-wrapper">
        <div class="header-flex" id="header-flex" (mouseenter)="collapseItems()" (mouseleave)="regroupItems()">
            <div >
                <img id="item-flex-1" (click)="onClick('item-flex-1')" class="item-flex-1" src="/assets/icons/fire-icon.svg" width="32" height="32">
            </div>
            <a>
                <img id="item-flex-2" (click)="onClick('item-flex-2')" class="item-flex-2" src="/assets/icons/person-lines-fill.svg" width="32" height="32">
            </a>
            <img id="item-flex-3" (click)="onClick('item-flex-3')" class="item-flex-3" src="/assets/icons/droplet-fill.svg" width="32" height="32">
            <img id="item-flex-4" (click)="onClick('item-flex-4')" class="item-flex-4" src="/assets/icons/facebook.svg" width="32" height="32">
            <img id="item-flex-5" (click)="onClick('item-flex-5')" class="item-flex-5" src="/assets/icons/gear-fill.svg" width="32" height="32">
        </div>
    </div>
</nav>
