<div class="container">
  <section class="landingSection" #landing_section id="landing-section">
    <div class="introductionConteiner">
      <img src="assets/images/NEO.jpeg" class="profilePhoto" alt="Neo" />
      <div class="introduction">
        <h1>Aljadis Tavera B.</h1>
        <p>Ingeniero de Sistemas, apasionado por el Desarrollo Web</p>
        <hr />
      </div>
    </div>
  </section>
  <section class="menuSection">
    <div class="serviceBox">
      <div class="icon" style="--i:#14213D">
        <div class="earth"></div>
      </div>
      <div class="content"></div>
    </div>
    <div class="serviceBox">
      <div class="icon" style="--i:#14213D">
        <div class="mars"></div>
      </div>
      <div class="content"></div>
    </div>
    <div class="serviceBox">
      <div class="icon" style="--i:#14213D">
        <div class="jupiter"></div>
      </div>
      <div class="content"></div>
    </div>
    <div class="serviceBox">
      <div class="icon" style="--i:#14213D"></div>
      <div class="content"></div>
    </div>
    <div class="serviceBox">
      <div class="icon" style="--i:#14213D"></div>
      <div class="content"></div>
    </div>
    <div class="serviceBox">
      <div class="icon" style="--i:#14213D"></div>
      <div class="content"></div>
    </div>
  </section>
  <section></section>
</div>
<!-- <section
  class="landing-section"
  #landing_section
  id="landing-section"
>
  <div class="introduction-container">
    <img src="assets/images/NEO.jpeg" class="profile-photo" alt="Neo" />
    <div class="introduction">
      <h1>Aljadis Tavera B.</h1>
      <p>Ingeniero de Sistemas, apasionado por el Desarrollo Web</p>
      <hr />
    </div>
  </div>
  <section class="about-section">
    <app-about></app-about>
  </section>
</section> -->
