<div class="about">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero suscipit
    ullam vel magni deleniti amet omnis laboriosam, aut praesentium natus sit
    illo nisi optio odio tempora, officiis porro aliquam nostrum. Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Vero suscipit ullam vel magni
    deleniti amet omnis laboriosam, aut praesentium natus sit illo nisi optio
    odio tempora, officiis porro aliquam nostrum. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Vero suscipit ullam vel magni deleniti amet
    omnis laboriosam, aut praesentium natus sit illo nisi optio odio tempora,
    officiis porro aliquam nostrum. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Vero suscipit ullam vel magni deleniti amet omnis
    laboriosam, aut praesentium natus sit illo nisi optio odio tempora, officiis
    porro aliquam nostrum. Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Vero suscipit ullam vel magni deleniti amet omnis laboriosam, aut
    praesentium natus sit illo nisi optio odio tempora, officiis porro aliquam
    nostrum.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero suscipit
    ullam vel magni deleniti amet omnis laboriosam, aut praesentium natus sit
    illo nisi optio odio tempora, officiis porro aliquam nostrum. Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Vero suscipit ullam vel magni
    deleniti amet omnis laboriosam, aut praesentium natus sit illo nisi optio
    odio tempora, officiis porro aliquam nostrum. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Vero suscipit ullam vel magni deleniti amet
    omnis laboriosam, aut praesentium natus sit illo nisi optio odio tempora,
    officiis porro aliquam nostrum. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Vero suscipit ullam vel magni deleniti amet omnis
    laboriosam, aut praesentium natus sit illo nisi optio odio tempora, officiis
    porro aliquam nostrum. Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Vero suscipit ullam vel magni deleniti amet omnis laboriosam, aut
    praesentium natus sit illo nisi optio odio tempora, officiis porro aliquam
    nostrum.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero suscipit
    ullam vel magni deleniti amet omnis laboriosam, aut praesentium natus sit
    illo nisi optio odio tempora, officiis porro aliquam nostrum. Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Vero suscipit ullam vel magni
    deleniti amet omnis laboriosam, aut praesentium natus sit illo nisi optio
    odio tempora, officiis porro aliquam nostrum. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Vero suscipit ullam vel magni deleniti amet
    omnis laboriosam, aut praesentium natus sit illo nisi optio odio tempora,
    officiis porro aliquam nostrum. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Vero suscipit ullam vel magni deleniti amet omnis
    laboriosam, aut praesentium natus sit illo nisi optio odio tempora, officiis
    porro aliquam nostrum. Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Vero suscipit ullam vel magni deleniti amet omnis laboriosam, aut
    praesentium natus sit illo nisi optio odio tempora, officiis porro aliquam
    nostrum.
  </p>
</div>
<section class="timeline-section">
  <app-timeline></app-timeline>
</section>
