.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.container .serviceBox {
  position: relative;
  width: 350px;
  height: 280px;
  background: red;
}

