.projects-container {
    max-height: 100vh;
    overflow: auto;
    padding-top: 20px;
    padding-left: 40px;
}

.projects-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.title {
    font-size: 5em;
    color: #FFFFFF;
    margin: 0;
}

.expandable-cards {
    display: flex;
    flex-direction: column;
    width: 700px;
    max-height: 36em;
}

.expandable-cards::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

