<div class="sidebar">
    <img src="static/avatar.png" class="sidebar__avatar">

    <div class="sidebar__links">
        <a routerLink="/home">Home</a>
        <a routerLink="/bio">Bio</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/projects">Projects</a>
        <a routerLink="/contact">Contact</a>
    </div>

    <div class="sidebar__social-links">
        <a href="https://github.com/Tayuelo" target="_blank" class="bi bi-github"></a>
        <a href="https://www.linkedin.com/in/aljadistavera/" target="_blank" class="bi bi-linkedin"></a>
    </div>
</div>